<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/img/logo-cotipelishd3.PNG" />
    <title><%= title %></title>
    <!-- FONTAWESOME ICONS -->
    <script
      src="https://kit.fontawesome.com/9ac3f17ed5.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar') %> <%- include('partials/sidenav') %> <%
    if(foundUnic == '') { %> <%- include('partials/container_home') %> <% } else
    { %>
    <div class="container_home animate__animated animate__fadeIn">
      <div class="content_last_videos">
        <h3 class="title_videos_last"><%= foundUnic.title %></h3>
        <div class="content_img_videos">
          <a class="preview_video">
            <img
              class="b-lazy img__loading"
              src="/img/loader.gif"
              data-src="<%= foundUnic.image %>"
              alt=""
            />
            <p class="title-video">
              Title/Year: <%= foundUnic.title %> (<%= foundUnic.year %>)
            </p>
            <% if(foundUnic.description == '') foundUnic.description = 'No posee Sinopsis'; %>
            <div class="description-video">
              <span class="title-description">Sinopsis:</span> <br><br> <%= foundUnic.description %>
            </div>
            <br><br>
            <div class="generos-video">
              Generos: &nbsp;&nbsp;&nbsp;&nbsp;
                <% foundUnic.genres.forEach((v) => { %>
                  <span class="genere"><%= v.name %></span>&nbsp;&nbsp;
                <% }) %>
            </div>
            <br>
            <div class="rating icon-star">
              <i class="fas fa-star"></i>
              <label class="score">Puntuación: <%= foundUnic.score %>/10</label>
            </div>
          </a>
        </div>
      </div>
    </div>

    <% } %> <%= numPaginas %> <% if(!pagesInactive) { %>
    <script>
      let numberPages = "<%= numPaginas %>";
      let currentPage = "<%= currentPage %>";
      let sectionPage = "<%= section %>";
    </script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <!-- BLAZY IMAGENES -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"
      integrity="sha512-Yrd3VqXNBUzyCQWVBlL65mTdE1snypc9E3XnGJba0zJmxweyJAqDNp6XSARxxAO6hWdwMpKQOIGE5uvGdG0+Yw=="
      crossorigin="anonymous"
    ></script>
    <script src="https://rawgithub.com/dinbror/blazy/master/blazy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/twbs-pagination@1.4.1/jquery.twbsPagination.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
